@{
    ViewBag.Title = "Taxi App";
}

<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup"><img class="device" /></div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1 class="text-nowrap">Our Fantastic Taxi App</h1>
            </div>
        </div>
    </div>
</div>

<section class="testimonials">
    <h2 class="text-center">People Love It!</h2>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature">
                        <i class="glyphicon glyphicon-time"></i>
                        <p>Always on time</p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <p>Cheap</p>
                    </div>
                    <div class="col-xs-4 icon-feature">
                        <i class="glyphicon glyphicon-dashboard"></i>
                        <p>Easy to use</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>